@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import "normalize.css";
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0px 102.4px;
  padding: 0px 15px;
}
.container__align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48.6px;
}
.container__align--left {
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
.container__align--right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 15px;
}
.container__align div {
  text-align: center;
}
.container__align span {
  display: inline-block;
  padding: 0px 15px 0px 0px;
  height: 28.6px;
  text-align: center;
  font-size: 11px;
}

nav.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav.navigation__bar {
  height: 90.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav.navigation__bar a {
  text-decoration: none;
  padding: 40px 15px;
  height: 90.4px;
  font-weight: bold;
  color: black;
  font-size: 13px;
}
nav.navigation__link {
  text-align: center;
  font-size: 11px;
}

.logo {
  padding: 0px 15px 0px 0px;
  width: 88px;
  height: 26px;
}

.header__top {
  background-color: #fef7f6;
  height: 48.6px;
  font-size: 11px;
  width: 100vw;
}

.align-left {
  justify-content: flex-start;
}

.centered {
  justify-content: center;
}

.align-right {
  justify-content: flex-end;
}

.banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  background-image: url("https://demo.themeies.com/silon/images/bg-1.jpg");
}
.banner__fluid {
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
.banner__column1 {
  width: 50em;
  display: block;
  position: relative;
}
.banner__column1--content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.banner .content {
  position: relative;
  text-align: center;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.banner .content__button {
  background: #ff5353;
  width: 170px;
  height: 51.2px;
  border-radius: 1em;
}
.banner__column2 {
  width: 50em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.banner__column2 div {
  width: 100em;
}
.banner__image {
  display: flex;
  width: 50%;
}
.banner img {
  position: relative;
  width: 40em;
}

p.tagline {
  height: 11.2px;
  text-transform: uppercase;
  color: #565656;
}

a {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 500;
}

h1 {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 35px;
}

h3 {
  padding: 0px 15px;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */
