@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import "normalize.css";

@mixin flex($parameter1,$parameter2,$parameter3,$parameter4) {
  display: $parameter1;
  flex-direction: $parameter2;
  justify-content: $parameter3;
  align-items: $parameter4;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ffff;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0px 102.4px;
  padding: 0px 15px;

  &__align {
    @include flex(flex, row, space-between, center);
    height: 48.6px;

    &--left {
      padding: 0px 15px;
      @include flex(flex, row, space-between, center);
      justify-content: flex-start;
    }

    &--right {
      @include flex(flex, row, space-between, center);
      justify-content: flex-end;
      padding: 0px 15px;

    }

    div {
      text-align: center;
    }

    span {
      display: inline-block;
      padding: 0px 15px 0px 0px;
      height: 28.6px;
      text-align: center;
      font-size: 11px;

    }
  }
}

nav.navigation {
  &__bar {
    height: 90.4px;
    @include flex(flex, row, space-between, center);

    a {
      text-decoration: none;
      padding: 40px 15px;
      height: 90.4px;
      font-weight: bold;
      color: black;
      font-size: 13px;
    }
  }

  &__link {
    text-align: center;
    font-size: 11px;
  }

  @include flex(flex, row, space-between, center);
}

.logo {
  padding: 0px 15px 0px 0px;
  width: 88px;
  height: 26px;
}

.header__top {
  background-color: #fef7f6;
  height: 48.6px;
  font-size: 11px;
  width: 100vw;
}


.align-left {
  justify-content: flex-start;
}

.centered {
  justify-content: center;
}

.align-right {
  justify-content: flex-end;
}

.banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  background-image: url("https://demo.themeies.com/silon/images/bg-1.jpg");


  &__fluid {
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  &__column1 {
    width: 50em;
    display: block;
   position: relative;
    //@include flex(flex, column, space-between, center);
&--content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  @include flex(flex, row, space-between, center);
}
  }

  .content {
    position: relative;
    text-align: center;
    padding: 15px 15px;
    @include flex(flex, column, space-between, center);
    &__button {
      background: #ff5353;
      width: 170px;
      height: 51.2px;
      border-radius: 1em;
    }
  }

  &__column2 {
    width: 50em;
    @include flex(flex, row, space-between, center);

    div {
      width: 100em;
    }
  }

  &__image {
    display: flex;
    width: 50%;
  }

  img {
    position: relative;
    width: 40em;
  }
}

  p.tagline {
    height: 11.2px;
    text-transform: uppercase;
    color: #565656;
  }

  a {
    display: inline-block;
    text-transform: uppercase;
    color: #ffff;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
  }
h1 {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 35px;
}


