@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import "normalize.css";


@mixin flex($parameter1,$parameter2,$parameter3,$parameter4) {
  display: $parameter1;
  flex-direction: $parameter2;
  justify-content: $parameter3;
  align-items: $parameter4;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ffff;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0px 102.4px;

  &__align {
    @include flex(flex, row, space-between, center);
    height: 48.6px;

    &--footer {
      justify-content: center;
    }
  }

  &--left {
    padding: 0px 15px;
    @include flex(flex, row, space-between, center);
    justify-content: flex-start;
  }

  &--right {
    @include flex(flex, row, space-between, center);
    justify-content: flex-end;
    padding: 0px 15px;

  }

  div {
    text-align: center;
  }

  .info {
    display: inline-block;
    height: 28.6px;
    text-align: center;
    font-size: 11px;
    padding: 0px 15px 0px 0px;
  }

  .rating {
    display: inline-block;
    //padding: 0px 15px 0px 0px;
    height: 28.6px;
    text-align: center;
    font-size: 11px;
  }
}

.navigation {
  &__bar {
    height: 90.4px;
    @include flex(flex, row, space-between, center);

    a {
      text-decoration: none;
      padding: 40px 15px;
      height: 45px;
      font-weight: 500;
      color: black;
      font-size: 13px;
    }
  }

  &__link {
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }

  @include flex(flex, row, space-between, center);
}

.logo {
  padding: 0px 15px 0px 0px;
  width: 88px;
  height: 26px;
}

.header__top {
  background-color: #fef7f6;
  height: 48.6px;
  font-size: 11px;
  width: 100%;
}


.align-left {
  justify-content: flex-start;
}

.centered {
  justify-content: center;

  :hover {
    color: #ff5353;
  }
}
.ti-angle-down {
  position: relative;
  top: 1px;
}
.dropbtn {
  background-color: #ffffff;
  color: black;
  padding: 18px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}

.align-right {
  justify-content: flex-end;

  :hover {
    color: #ff5353;
  }
}

.banner {

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-image: url("https://demo.themeies.com/silon/images/bg-1.jpg");


  &__fluid {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: flex;

    &--2 {
      background-color: #e9e2d8;
    }
  }

  &__column1 {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &--content {
      width: 100%;
      position: absolute;
      left: 60%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include flex(flex, column, space-around, center);
    }
  }

  &__column2 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
}

.content__button:hover.content__button--content {
  color: blue;
  background-color: white;
}

.content {
  position: relative;
  text-align: center;
  padding: 15px 15px;
  @include flex(flex, column, space-between, center);
  flex-wrap: nowrap;


  &__button {
    background: #ff5353;
    width: 170px;
    height: 51.2px;
    border-radius: 8px;

    &--content {
      display: inline-block;
      text-transform: uppercase;
      color: #ffff;
      padding: 20px 25px;
      text-align: center;
      text-decoration: none;
      margin-left: auto;
      margin-right: auto;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.banner__colored--image {
  height: 100%;
}

p.tagline {
  height: 11.2px;
  text-transform: uppercase;
  color: #565656;
  margin: 0;
}

a {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.featuredProduct {
  &__container {
    padding: 0px 50px;
    @include flex(flex, column, space-between, center);
    display: block;
    flex-wrap: wrap;
  }

  &__title {
    height: 123.188px;
  }
}

h2 {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 0px 50px;
}


.ti-shopping-cart {
  position: relative;

}

.ti-heart {
  position: relative;
}

.cloud {
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ff5353;
  top: 36%;
  right: 21%;
  color: #fef7f6;
  font-size: 9px;
}

div.cloud p {
  transform: translate(5%, -80%)
}

.ti-star {
  position: relative;
  text-align: center;
  color: #ff5353;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

p.price {
  position: relative;
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: black;
}

.columns {
  @include flex(flex, row, space-around, center);
  position: relative;
  margin-bottom: 50px;
  display: flex;

}

.product:hover {
  .product__item--hover {
    visibility: visible;
    position: relative;
    top: -200px;
    transition: top 300ms ease-in-out;
  }


}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;

  &__item {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;

    &--hover {
      top: -180px;
      position: relative;
      visibility: hidden;
      display: flex;
      text-decoration: none;
      justify-content: center;
    }

    &--details {
      :hover.item__name {
        color: #ff5353;
      }

      p.item__name {
        margin: 10px 0 0 0;
        font-size: 14px;
        color: #565656;
      }
    }
  }
}

.entrance {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 40px;
  text-decoration: none;
  margin: 5px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrance:hover {
  background-color: #ff5353;
  color: white;
}

.ti-eye {

  font-size: 15px;
  text-decoration: none;
}

span.ti-heart {
  font-size: 15px;
  text-decoration: none;
}

span.ti-shopping-cart {
  font-size: 15px;
  text-decoration: none;
}

.secondBannerTitle {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  margin-bottom: 33px;
  font-size: 58px;
}

.secondBannerTitleMin {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 54px;
  text-align: center;
}

footer.footer {
  background-color: #e9e2d8;
  width: auto;
  height: 400px;
  position: relative;
  justify-content: center;
  @include flex(flex, column, space-around, center);
}

.lists {
  position: relative;
  @include flex(flex, row, space-between, center);
  //text-align: left;

}

ul.list {
  list-style-type: none;
  margin: 0px 0px 0px 95px;

  &__wider {
    width: 400px;
    display: inline-block;
  }
}

ul a {
  :hover {
    background-color: #ff5353;
  }
}

ul div {
  display: inline-block;
}

.list h4 {
  text-transform: uppercase;
  position: relative;
}

.list li {
  text-align: left;
  position: relative;

  :hover {
    color: #ff5353;
  }
}

li a {
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  color: #8888;
  margin-bottom: 5px;

}

.button__googl--content {
  padding: 8px 8px 10px 8px;
  color: black;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}

._buttonTexts {
  position: relative;
  display: inline-block;
}

.smallText {
  text-align: left;
  height: 8px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  margin: 5px 0px;
}

.biggerText {
  text-align: left;
  width: inherit;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

.ti-android {
  color: #ff5353;
  font-size: 20px;
  text-align: center;
}

.ti-apple {
  font-size: 20px;
  text-align: center;
}

.button {
  position: relative;

  &__googl--content:hover {
    transition: 1ms;
    background-color: #ff5353;

    ._buttonTexts {
      color: white
    }

    .ti-android {
      color: #fff;
    }
  }
}

.button__appl {
  height: 47px;
}

.button__appl--content {
  padding: 8px 8px 10px 8px;
  color: white;
  background-color: #ff5353;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}

.socialmedia {
  height: 30px;
  width: 30px;
  background-color: white;
  margin: 0px 10px 0px 0px;
  position: relative;
  color: black;
}

.ti-facebook {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.socialmedia:hover {
  background-color: #ff5353;
  color: white;
}

.ti-twitter-alt {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.ti-pinterest-alt {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.ti-instagram {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

p.copyright {
  color: #8888;
  font-size: 15px;
  position: relative;


}

a.red_link {
  color: #ff5353;
  text-decoration: none;
}
