
// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.container {
  &__align {
    @include flex(flex, row, space-between, center);
    height: 48.6px;
    @include wider-margin;
  }

  &--left {
    width: 50%;
    padding: 0px 15px;
    @include flex(flex, row, space-between, center);
    justify-content: flex-start;
  }

  &--right {
    width: 50%;
    @include flex(flex, row, space-between, center);
    justify-content: flex-end;
    padding: 0px 15px;
  }
}
.info {
  display: inline-block;
  height: 100%;
  text-align: center;
  font-size: 11px;
  padding: 0px 15px 0px 0px;
  text-transform: uppercase;
  font-weight: 300;
}

.header {
  &__top {
    background-color: #fef7f6;
    height: 48.6px;
    font-size: 11px;
    width: 100%;
  }

  &__lower {
    font-size: 11px;
    width: 100%;
  }
}

.counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #ff5353;
  color: #fef7f6;
  font-size: 8px;
}

.icons-header {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

}

.ti-align-justify {
  text-decoration: none;
  position: relative;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
}

.ti-angle-down {
  position: relative;
  color: black;
  left: 3px;
}

.logo {
  position: relative;
  display: inline;
}

.dropbtn {
  padding: 35px 15px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  min-width: 220px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 7%);
  z-index: 1;
  list-style: none;
  transition: all 300ms ease;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #ff5353;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #ff5353;
}


